<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body>
<div class="container">
    <div class="row rounded">
        <div class="col-12">
            <nav class="navbar navbar-expand-xl navbar-light bg-light rounded">
                <th:block th:include="~{/fragments/nav}"></th:block>
            </nav>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Добави обява за работа</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form th:action="@{/jobs/add}" th:method="POST" th:object="${jobAddBindingModel}"
                              class="tm-edit-product-form">

                            <div class="input-group mb-3">
                                <label for="title" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Заглавие
                                </label>
                                <input  id="title" name="title" type="text"
                                        class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" th:field="*{title}"/>

                            </div>
                            <div class="input-group mb-3 justify-content-center">

                                <th:block th:if="${#fields.hasErrors('title')}">
                                    <small class="text-danger" th:errors="*{title}"></small>
                                </th:block>

                            </div>
                            <!---->

                            <div class="input-group mb-3">
                                <label for="region" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Регион
                                </label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="region"
                                        name="region" >
                                    <option value="" selected disabled>Избери</option>
                                    <th:block th:each="t : ${T(com.softuni.model.entity.Enum.Region).values()}">
                                        <option th:text="${t.region}" th:value="${t}"></option>
                                    </th:block>

                                </select>

                            </div>
                            <div class="input-group mb-3 justify-content-center">
                                <th:block th:if="${#fields.hasErrors('region')}">
                                    <small class="text-danger" th:errors="*{region}"></small>
                                </th:block>


                            </div>

                            <!---->

                            <div class="input-group mb-3">
                                <label for="jobType" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Вид
                                </label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="jobType"
                                        name="jobType" >
                                    <option value="" selected disabled>Избери</option>
                                    <th:block th:each="t : ${T(com.softuni.model.entity.Enum.jobEnum.JobType).values()}">
                                        <option th:text="${t.jobType}" th:value="${t}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="input-group mb-3 justify-content-center">

                                <th:block th:if="${#fields.hasErrors('jobType')}">
                                    <small class="text-danger" th:errors="*{jobType}"></small>
                                </th:block>

                            </div>

                            <!---->

                            <div class="input-group mb-3">
                                <label for="jobLevel" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Ниво
                                </label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="jobLevel"
                                        name="jobLevel" >
                                    <option value="" selected disabled>Избери</option>
                                    <th:block th:each="t : ${T(com.softuni.model.entity.Enum.jobEnum.JobLevel).values()}">
                                        <option th:text="${t.jobLevel}" th:value="${t}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="input-group mb-3 justify-content-center">

                                <th:block th:if="${#fields.hasErrors('jobLevel')}">
                                    <small class="text-danger" th:errors="*{jobLevel}"></small>
                                </th:block>

                            </div>
                            <!---->

                            <div class="input-group mb-3">
                                <label for="salary" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Заплата
                                </label>
                                <input  id="salary" name="salary" type="number"
                                        class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" th:field="*{salary}"/>

                            </div>
                            <div class="input-group mb-3 justify-content-center">
                                <th:block th:if="${#fields.hasErrors('salary')}">
                                    <small class="text-danger" th:errors="*{salary}"></small>
                                </th:block>
                            </div>
<!---->

                            <div class="input-group mb-3">
                                <label for="phoneNumber" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Телефон за контакт
                                </label>
                                <input  id="phoneNumber" name="phoneNumber" type="text"
                                        class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" th:field="*{phoneNumber}"/>

                            </div>
                            <div class="input-group mb-3 justify-content-center">

                                <th:block th:if="${#fields.hasErrors('phoneNumber')}">
                                    <small class="text-danger" th:errors="*{phoneNumber}"></small>
                                </th:block>

                            </div>

<!---->

                            <!---->
                            <div class="input-group mb-3">
                                <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Допълнителна информация
                                </label>
                                <textarea  id="description" name="description" type="text" rows="7" cols="10" WRAP="HARD"
                                        class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" th:field="*{description}"/></textarea>

                            </div>

                            <!---->
                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button type="submit" class="btn btn-primary">Добави
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/img/job.jpg" alt="job image" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</div>

</body>
</html>